{# {% extends 'base/header.html.twig' %} #}

{# {% block content %} #}
{# {{ dump(form) }} #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Save</button>
{{ form_end(form) }}

{# {% endblock %} #}